body {
  font-family: "Open Sans", sans-serif !important;
}

.text-slanted {
  font-family: "Courgette", cursive;
}

.card {
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
}

.list-group {
  list-style: none;
}
